
<div class="d-flex justify-content-center my-2">
        <button mat-stroked-button type="button" [routerLink]="['/product-list']">
                Sistema de Pedidos 
        </button>
</div>

<div class="d-flex justify-content-center my-2">
        <button mat-stroked-button type="button" [routerLink]="['/cadastro-produtos']">
                Cadastro de Produtos
        </button>
</div>

<div class="d-flex justify-content-center my-2">
        <button mat-stroked-button type="button">
                Caixa
        </button>
</div>
    



